:root {
    --bs-blue: rgb(15, 148, 189);
        --bs:#656fdd;
        --bs:#EF553B;
        --bs:#00cc96;
        --bs:#ab63fa;
        --bs:#FFA15A;
        --bs:#19d3f3;
        --bs:#fa8dac;
        --bs:#B6E880;
        --bs:#FF97FF;
        --bs:#aeaeae;
}